:root {
	--blue:rgba(23, 104, 172, 0.9);
	--black:#0D0221;
	--white:#FFFFFA;
	--gray: rgb(245,245,245);
	--dark: rgb(110,110,110);
	letter-spacing: 0.07em;
}
html {
	overflow-x: hidden;
}
body {
	font-family: 'Raleway', sans-serif;
	overflow-x: hidden;
	background-color: var(--gray);
	color: black;
	width: 100vw;
	min-height: 100vh;
	height: 100%;
}
