{% load static %}
{% include "navbar/navbar.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

<script type="text/javascript">
	var x = 1.2;
	var placements = [[35*x,.8],[27.5*x,.75],[42.5*x,.75],[21*x,.70],[49*x,.70],[15*x,.65],[55*x,.65]];
</script>
<div class="intro col-xs-12">
	<img class="bg-img" src="{% static 'index_bg.jpg' %}">
	<h3 class="clickable noselect">UURI LÄHEMALT</h3>
	<div class="artists col-xs-12">
		{% for artist in artists %}
		<a href="/artists/{{ artist.name }}">
			<div class="artist" id="{{ artist.name }}">
				<img id="{{ artist.name }}-img" src="{{ artist.front_page_img.url }}">
				<br>
				<h3 class="artist-name noselect">{{ artist.name }}</h3>
			</div>
		</a>
		<script type="text/javascript">
			var place = placements[{{ artist.front_page_priority }}-1]
			$("#{{ artist.name }}").css({
				"margin-left":place[0].toString()+"vw",
				"z-index":Math.round(100/{{ artist.front_page_priority }}).toString()
			});
			$("#{{ artist.name }}-img").css({
				"height":(place[1]*80).toString()+"vh"
			});
			$("#{{ artist.name }}-img").hover(function() {
				$(".clickable").css({"opacity":".75"});
			}, function() {
				$(".clickable").css({"opacity":"0"});
			});
		</script>
		{% endfor %}
	</div>
</div>

<div class="releases col-xs-12" style="background-image: url({% static 'texture1.jpg' %});">
	<div class="over col-xs-12">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<h2>VIIMASED RELIISID</h2>

			<link rel="stylesheet" type="text/css" href="{% static 'release.css' %}">
			{% for release in releases %}
				{% include 'content/release.html' %}
			{% endfor %}
		</div>
	</div>
		<div class="col-xs-3"></div>
</div>

<div class="merch col-xs-12" style="background-image: url({% static 'texture2.jpg' %});">
	<div class="col-xs-3"></div>
	<div class="col-xs-6">
		<h2>TOETA ARTISTE</h2>


		<link rel="stylesheet" type="text/css" href="{% static 'item.css' %}">
		{% for item in merch %}
			{% include 'content/item.html' %}
		{% endfor %}
	</div>
	<div class="col-xs-3"></div>
</div>
{% include "navbar/footer.html" %}