{% load static %}
{% include "navbar/navbar.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'shop.css' %}">


<div class="product col-xs-12" style="background-image: url({% static 'texture2.jpg' %});">
	<div class="col-xs-2"></div>
	<div class="col-xs-8">
		<div class="col-xs-12">
			<div class="col-xs-4">
				<img class="main-img" src="{{ item.img.url }}">
			</div>
			<div class="col-xs-2">
				{% if item.img_2 %}
				<img class="alt-img" src="{{ item.img_2.url }}">
				{% endif %}
				{% if item.img_3 %}
				<img class="alt-img" src="{{ item.img_3.url }}">
				{% endif %}
				{% if item.img_4 %}
				<img class="alt-img" src="{{ item.img_4.url }}">
				<style type="text/css">
					.product .alt-img {
						height: 16.66666vh;
					}
				</style>
				{% endif %}
			</div>
			<div class="col-xs-6">
				<h1>{{ item.name }}</h1>
				<h3>{{ item.description|linebreaks }}</h3>
				<h2>{{ item.price }}€</h2>
				<div class="honesty col-xs-12">

					<div class="col-xs-6">
						<h4>Alghind: <span id="og_price"></span>€</h4>
					</div>
					<div class="col-xs-6">
						<h4 class="right">Tulu artistile: <span id="earnings"></span>€</h4>
					</div>
					
					<div class="og_price col-xs-6"></div>
					<div class="earnings col-xs-6"></div>

					<script type="text/javascript">

						var og_price = {{ item.original_price }};
						var markup = {{ item.markup_percentage }}/100;
						var price = markup * og_price

						var earnings = Math.round( (price - og_price)*100 ) / 100;

						$("#og_price").text(og_price);
						$("#earnings").text(earnings);

						$(".og_price").css({'width':(og_price/price*100).toString() + "%"});
						$(".earnings").css({'width':(earnings/price*100).toString() + "%"});

					</script>
				</div>
				<br>
				.
				<br>
				<span class="button">
					<a href="#">ADD TO CART</a>
				</span>
			</div>
			
		</div>
	</div>
	<div class="col-xs-2"></div>
</div>
{% include "navbar/footer.html" %}